<a>
  <mat-card>
    <mat-card-title-group>
      <img mat-card-sm-image *ngIf="thumbnail" [src]="thumbnail"/>
      <mat-card-title>{{ title}}</mat-card-title>
      <mat-card-subtitle *ngIf="subtitle">{{ subtitle  }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p *ngIf="description">{{ description  }}</p>
    </mat-card-content>
    <mat-card-footer>
      <!-- <bc-book-authors [book]="book"></bc-book-authors> -->
    </mat-card-footer>
  </mat-card>
</a>